ascii/ascii
ascii/ascii.o
awk/awk
awk/lex.o
awk/lib.o
awk/main.o
awk/parse.o
awk/proctab.o
awk/re.o
awk/run.o
awk/tran.o
awk/y.tab.c
awk/y.tab.h
awk/y.tab.o
basename/basename
basename/basename.o
bc/bc
bc/y.tab.c
bc/y.tab.h
bc/y.tab.o
cal/cal
cal/cal.o
cat/cat
cat/cat.o
cleanname/cleanname
cleanname/cleanname.o
cmp/cmp
cmp/cmp.o
date/date
date/date.o
dc/dc
dc/dc.o
dd/dd
dd/dd.o
diff/diff
diff/diffdir.o
diff/diffio.o
diff/diffreg.o
diff/main.o
du/du
du/du.o
echo/echo
echo/echo.o
ed/ed
ed/ed.o
factor/factor
factor/factor.o
fmt/fmt
fmt/fmt.o
fortune/fortune
fortune/fortune.o
freq/freq
freq/freq.o
getflags/getflags
getflags/getflags.o
grep/comp.o
grep/grep
grep/main.o
grep/sub.o
grep/y.tab.c
grep/y.tab.h
grep/y.tab.o
hoc/code.o
hoc/hoc
hoc/init.o
hoc/math.o
hoc/symbol.o
hoc/y.tab.c
hoc/y.tab.h
hoc/y.tab.o
join/join
join/join.o
lib9/_exits.o
lib9/_p9dialparse.o
lib9/_p9dir.o
lib9/announce.o
lib9/argv0.o
lib9/atexit.o
lib9/atnotify.o
lib9/atoi.o
lib9/atol.o
lib9/atoll.o
lib9/await.o
lib9/bio/bbuffered.o
lib9/bio/bfildes.o
lib9/bio/bflush.o
lib9/bio/bgetc.o
lib9/bio/bgetd.o
lib9/bio/bgetrune.o
lib9/bio/binit.o
lib9/bio/boffset.o
lib9/bio/bprint.o
lib9/bio/bputc.o
lib9/bio/bputrune.o
lib9/bio/brdline.o
lib9/bio/brdstr.o
lib9/bio/bread.o
lib9/bio/bseek.o
lib9/bio/bvprint.o
lib9/bio/bwrite.o
lib9/cistrcmp.o
lib9/cistrncmp.o
lib9/cistrstr.o
lib9/cleanname.o
lib9/create.o
lib9/ctime.o
lib9/dial.o
lib9/dirfstat.o
lib9/dirfwstat.o
lib9/dirmodefmt.o
lib9/dirread.o
lib9/dirstat.o
lib9/dirwstat.o
lib9/dup.o
lib9/encodefmt.o
lib9/errstr.o
lib9/exec.o
lib9/execl.o
lib9/exitcode.o
lib9/fcallfmt.o
lib9/fmt/charstod.o
lib9/fmt/dofmt.o
lib9/fmt/fltfmt.o
lib9/fmt/fmt.o
lib9/fmt/fmtfd.o
lib9/fmt/fmtfdflush.o
lib9/fmt/fmtlocale.o
lib9/fmt/fmtnull.o
lib9/fmt/fmtprint.o
lib9/fmt/fmtquote.o
lib9/fmt/fmtrune.o
lib9/fmt/fmtstr.o
lib9/fmt/fmtvprint.o
lib9/fmt/fprint.o
lib9/fmt/nan64.o
lib9/fmt/pow10.o
lib9/fmt/print.o
lib9/fmt/runefmtstr.o
lib9/fmt/runeseprint.o
lib9/fmt/runesmprint.o
lib9/fmt/runesnprint.o
lib9/fmt/runesprint.o
lib9/fmt/runevseprint.o
lib9/fmt/runevsmprint.o
lib9/fmt/runevsnprint.o
lib9/fmt/seprint.o
lib9/fmt/smprint.o
lib9/fmt/snprint.o
lib9/fmt/sprint.o
lib9/fmt/strtod.o
lib9/fmt/vfprint.o
lib9/fmt/vseprint.o
lib9/fmt/vsmprint.o
lib9/fmt/vsnprint.o
lib9/fmtlock2.o
lib9/get9root.o
lib9/getcallerpc-386.o
lib9/getenv.o
lib9/getfields.o
lib9/getnetconn.o
lib9/getns.o
lib9/getuser.o
lib9/getwd.o
lib9/jmp.o
lib9/lib9.a
lib9/lnrand.o
lib9/lrand.o
lib9/main.o
lib9/malloc.o
lib9/malloctag.o
lib9/mallocz.o
lib9/nan.o
lib9/needsrcquote.o
lib9/needstack.o
lib9/netmkaddr.o
lib9/notify.o
lib9/nrand.o
lib9/nulldir.o
lib9/open.o
lib9/opentemp.o
lib9/pin.o
lib9/pipe.o
lib9/post9p.o
lib9/postnote.o
lib9/qlock.o
lib9/quote.o
lib9/rand.o
lib9/read9pmsg.o
lib9/readcons.o
lib9/readn.o
lib9/regex/regaux.o
lib9/regex/regcomp.o
lib9/regex/regerror.o
lib9/regex/regexec.o
lib9/regex/regsub.o
lib9/regex/rregexec.o
lib9/regex/rregsub.o
lib9/rfork.o
lib9/searchpath.o
lib9/sec/md5.o
lib9/sec/md5block.o
lib9/sec/md5pickle.o
lib9/sec/sha1.o
lib9/sec/sha1block.o
lib9/sec/sha1pickle.o
lib9/seek.o
lib9/sendfd.o
lib9/sleep.o
lib9/strdup.o
lib9/strecpy.o
lib9/sysfatal.o
lib9/syslog.o
lib9/sysname.o
lib9/time.o
lib9/tm2sec.o
lib9/tokenize.o
lib9/truerand.o
lib9/u16.o
lib9/u32.o
lib9/u64.o
lib9/unsharp.o
lib9/utf/rune.o
lib9/utf/runestrcat.o
lib9/utf/runestrchr.o
lib9/utf/runestrcmp.o
lib9/utf/runestrcpy.o
lib9/utf/runestrdup.o
lib9/utf/runestrecpy.o
lib9/utf/runestrlen.o
lib9/utf/runestrncat.o
lib9/utf/runestrncmp.o
lib9/utf/runestrncpy.o
lib9/utf/runestrrchr.o
lib9/utf/runestrstr.o
lib9/utf/runetype.o
lib9/utf/utfecpy.o
lib9/utf/utflen.o
lib9/utf/utfnlen.o
lib9/utf/utfrrune.o
lib9/utf/utfrune.o
lib9/utf/utfutf.o
lib9/wait.o
lib9/waitpid.o
lib9/write.o
lib9/zoneinfo.o
look/look
look/look.o
ls/ls
ls/ls.o
mk/arc.o
mk/archive.o
mk/bufblock.o
mk/env.o
mk/file.o
mk/graph.o
mk/job.o
mk/lex.o
mk/main.o
mk/match.o
mk/mk
mk/mk.o
mk/parse.o
mk/rc.o
mk/recipe.o
mk/rule.o
mk/run.o
mk/sh.o
mk/shell.o
mk/shprint.o
mk/symtab.o
mk/unix.o
mk/var.o
mk/varsub.o
mk/word.o
mkdir/mkdir
mkdir/mkdir.o
mtime/mtime
mtime/mtime.o
pbd/pbd
pbd/pbd.o
primes/primes
primes/primes.o
rc/code.o
rc/exec.o
rc/getflags.o
rc/glob.o
rc/havefork.o
rc/here.o
rc/io.o
rc/lex.o
rc/pcmd.o
rc/pfnc.o
rc/plan9ish.o
rc/rc
rc/simple.o
rc/subr.o
rc/trap.o
rc/tree.o
rc/unixcrap.o
rc/var.o
rc/x.tab.h
rc/y.tab.c
rc/y.tab.h
rc/y.tab.o
read/read
read/read.o
sam/address.o
sam/buff.o
sam/cmd.o
sam/disk.o
sam/error.o
sam/file.o
sam/io.o
sam/list.o
sam/mesg.o
sam/moveto.o
sam/multi.o
sam/rasp.o
sam/regexp.o
sam/sam
sam/sam.o
sam/shell.o
sam/string.o
sam/sys.o
sam/unix.o
sam/util.o
sam/xec.o
sed/sed
sed/sed.o
seq/seq
seq/seq.o
sha1sum/sha1sum
sha1sum/sha1sum.o
sleep/sleep
sleep/sleep.o
sort/sort
sort/sort.o
split/split
split/split.o
strings/strings
strings/strings.o
tail/tail
tail/tail.o
tee/tee
tee/tee.o
test/test
test/test.o
touch/touch
touch/touch.o
tr/tr
tr/tr.o
troff/dwbinit.o
troff/hytab.o
troff/mbwc.o
troff/n1.o
troff/n10.o
troff/n2.o
troff/n3.o
troff/n4.o
troff/n5.o
troff/n6.o
troff/n7.o
troff/n8.o
troff/n9.o
troff/ni.o
troff/suftab.o
troff/t10.o
troff/t11.o
troff/t6.o
troff/troff
unicode/unicode
unicode/unicode.o
uniq/uniq
uniq/uniq.o
unutf/unutf
unutf/unutf.o
yacc/yacc
yacc/yacc.o
